*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 
  body,
    html {
      font-family: Proxima Nova, proxima-nova, Proxima Nova Fallback, Arial, sans-serif;
      font-weight: 400;
      background-color: #d2d6e2;
    }

}
